#main
	h1 Click to reveal your cards
	h3#hdrTotal
	h3#hdrResult
	#my_hand
	#result
		img(src="img/images/check.png")#imgRestart
	#controls
		#btnDeal
			img(src="img/images/deck_small.jpg")
		#btnHit
			img(src="img/images/deck_small.jpg")
		#btnStick
			img(src="img/images/stick_small.jpg")
		#btnRestart
			img(src="img/images/restart_small.jpg")
