.copyraight
	.flex-wrapper
		.row.justify-content-center
			.col-12
				i.fa.fa-phone(aria-hidden="true")
					a(href='#').copyraight__tel &nbsp01923 220121
		.row.justify-content-center
			.col-12
				i.fa.fa-envelope-o(aria-hidden="true")
					a(href='#').copyraight__mail &nbsp  info@compucorp.co.uk
		.row.justify-content-center
			.col-12
				a(href='#').copyraight__call Or phone on:&nbsp01923 220121 
