.header
	.header__inner
		.row.justify-content-center
			.col-xl-9
				.header__wrapper
					a.header__inner-logo
						img(src='img/icons/gl-logo.png' alt="logo")
					p.header-inner__title A team of self confessed geeks who are all about great digital design
					a
						img(src='img/icons/ghost-btn.png' class="button" alt='button')

