#header
	h2 Jump for Joy Sale
#main
	.guess_box
		img(src="img/images/jump1.jpg")
	.guess_box
		img(src="img/images/jump2.jpg")
	.guess_box
		img(src="img/images/jump3.jpg")
	.guess_box
		img(src="img/images/jump4.jpg")
	span#result