header
	h2 2011 Race Finishers!
#main
	ul.idTabs
		li
			a(href="#male") Male Finishers
		li
			a(href="#female") Female Finishers
		li
			a(href="#all") All Finishers
	#mail
		h4 	Male Finishers
		ul#finishers_m
	#female
		h4 	Female Finishers
		ul#finishers_f
	#all
		h4 	All Finishers
		ul#finishers_all
	