.location
	.heading.heading--location#invisible Find us
	.heading.heading--location#visible  How to find us
	.map-wrapper
		#map.map
		#marker-tooltip
			.row
				.text-wrapper.text-wrapper--xl-invisible
					p.contacts-block__title Geek Label 
					p.contacts-block__address.contacts-block__address--l-s 4th Floor, 27 - 33 Bethnal Green Road
					p.contacts-block__address Shoreditch, London, E1 6LA
				.text-wrapper.text-wrapper--xl-visible
					p.contacts-block__title Geek Label 
					p.contacts-block__address.contacts-block__address--l-s 4th Floor
					p.contacts-block__address.contacts-block__address--l-s 27 - 33 Bethnal Green Road
					p.contacts-block__address Shoreditch
					p.contacts-block__address London
					p.contacts-block__address E1 6LA
	.row.justify-content-center
			.col-xl-3
				a.button.button-down--location
					img(src='img/bg/btn-red.png' alt='button-red.png')
			



