header#top
	img#text_top(src="img/images/Monster_Mashup.png")
	p Make your own monster face by clicking on the picture .
#container
	img.lightning#lightning1(src="img/images/lightning-01.jpg")
	img.lightning#lightning2(src="img/images/lightning-02.jpg")
	img.lightning#lightning3(src="img/images/lightning-03.jpg")
#frame
	#pic_box
		#head.face
			img(src="img/images/headsstrip.jpg")
		#eyes.face
			img(src="img/images/eyesstrip.jpg")
		#nose.face
			img(src="img/images/nosesstrip.jpg")
		#mouth.face
			img(src="img/images/mouthsstrip.jpg")