#menu_wrapper
	.left_col
		h4 Dinner Entrees
			li.nav
				button#vegOn Go Vegetarian
			li.nav
				button#restoreMe Restore Menu
		ul.menu_entrees
			li Thai-style Halibut
				ul.menu_list
					li coconut milk
					li early autumn vegetables
					li.fish pan-fried halibut
					li Thai spices
					li lemongrass broth
			li House Grilled Panini
				ul.menu_list
					li.meat prosciutto
					li provolone
					li avocado
					li sourdough roll
					li cherry tomatoes
			li Southwest Slider
				ul.menu_list
					li whole chiles
					li.meat fish
					li.hamburger hamburger
					li multigrain roll
			li House Slider
				ul.menu_list
					li zucchini
					li eggplant
					li.hamburger hamburger
					li multigrain roll
					li carrots
					li multigrain roll
					li goat cheese
			li Frittata
				ul.menu_list
					li Asiago cheese
					li.meat eggs
					li potatoes
			li Coconut Soup
				ul.menu_list
					li coconut milk
					li.meat chicken
					li vegetable broth
			li Soup Du Jour
				ul.menu_list
					li mushrooms
					li.meat grilled steak
					li vegetable broth
